body {
  background-color: aliceblue;
  padding: 3%;
  margin: 5%;
  border: 2px steelblue solid;
  border-radius: 20px;
}

h1 {
  text-align: center;
  border: 1.5px steelblue solid;
  background-color: lightblue;
  border-radius: 15px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1%;
  color: darkblue;
}
