.container {
  border: 1.5px steelblue solid;
  padding: 3%;
  border-radius: 15px;
  background-color: lightblue;
  color: darkblue;
}

.container-h2 {
  width: fit-content;
  border-radius: 10px;
  padding: 1.5%;
  background-color: aliceblue;
}

button {
  background-color: darkblue;
  color: lightblue;
  border: 1.5px steelblue solid;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
  font-size: large;
}

.input label {
  padding: 2%;
  font-size: x-large;
  text-size-adjust: large;
}
